/* Moved the font-family to the universal selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #d9dcd6;
}

/* Changed the header class to element; removed the font-family property */
header {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: #2a607c;
    color: #ffffff;
}

/* Removed the class; the added font-family property */
h1 {
    display: inline-block;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Removed the header class */
.seo {
    color: #d9dcd6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Changed div to nav */
nav {
    padding-top: 15px;
    padding-left: 0px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/* Removed other selectors except li (no more li on the page); removed ul with unused property  */
li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* Changed div to figure element; removed the background-image property and moved it to the img tag*/
figure > img {
    height: 100%;
    width: 100%;
    margin-bottom: 25px; 
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Grouped by a new class to separate the content from the wrapper container properties*/
.content-item h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Moved the images classes to follow the html structure */
.float-left {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

.float-right {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}

/* Grouped by a new class to separate the contents from the wrapper container properties*/
/* Removed font-family property */
.content-item {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
}

/* Removed the font-family property */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

/* Grouped the benefit section items to separate the content from the wrapper container properties */
.benefit-item {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Grouped the benefit items headers */
.benefit-item h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Grouped the benefit items images */
.benefit-item img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Changed the class selector to element */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
